@font-face {
	font-family:"LiHei"; 
	src: url(LiHei.ttf);
}

body {
	font-size: 18px;
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 30%;
	margin: auto;
}

.slogon {
	text-align: center;
	font-size: 60px;	
}

.introduction {	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 80%;
	padding:20%;
}

.green {
	background-color: #5A8F31;
	color: white;
}

.white {
	background-color: #FFFBF0;
	color:	#3F4850;
}

.gray {
	background-color: #D4F2E7;
	color: #3F4850;
}

.block {
	position: relative;
	width: 100%;
	min-height: 800px;
	height: 100%;
}

.tblock{
	position: relative;
	width: 100%;
	height: 5%;
}

.ublock{
	position: relative;
	width: 100%;
	min-height: 100px;
	height: 70%;
}

.joinForm {
	position: absolute;
	min-width: 200px;
	width: 50%;
	max-width: 600px;
	height: 50%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


.bottomblock {
	position: relative;
	width: 100%;
	height: 40%;
}

.tcenter {
  padding-top:30%;
  padding-left:10px;
  padding-right:30px;
  padding-bottom:30%; 
}
