@font-face {
	font-family:"LiHei"; 
	src: url(LiHei.ttf);
}

body {
	font-size: 16px;
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 30%;
	margin: auto;
}

.slogon {
	text-align: center;
	font-size: 60px;	
}

.introduction {	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 80%;
	height: 70%;
	margin: auto;
}

.green {
	background-color: #5A8F31;
	color: white;
}

.white {
	background-color: white;
	color:	#3F4850;
}

.gray {
	background-color: #F2F2F2;
	color: #3F4850;
}

.block {
	position: relative;
	width: 100%;
	min-height: 800px;
	height: 100%;
}

.joinForm {
	margin: auto;
	left: 0;
	right: 0;
	position: absolute;
	min-width: 200px;
	width: 50%;
	max-width: 600px;
}

.photoBackground {
	color: white;
	background: url(images/cover.jpg) no-repeat center center;    
	-webkit-background-size: cover;   
	-moz-background-size: cover;   
	-o-background-size: cover;   
	background-size: cover; 
}
